header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container1{
display: flex;
}
.espaço{
    padding: 0 20px;
}
.some{
    padding: 0 20px;
}
.p1{
    background: linear-gradient(93.83deg, #1D592E 14.82%, #BEE1C8 142.61%);
display: flex;
align-items: center;
justify-content: space-around;
}
.p3{
display: flex;
align-items: center;
justify-content: space-around;
background-color: #BEE1C8;
}

.p2{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #BEE1C8;
}