*{
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.container1 {
    display: flex;
}

.espaço {
    padding: 0 20px;
}

.some {
    padding: 0 20px;
}

.p1 {
    background: linear-gradient(93.83deg, #1D592E 14.82%, #BEE1C8 142.61%);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.p3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #BEE1C8;
    margin: 44px 0px;
}

.grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    background-color: #BEE1C8;
}

.p2 {
    text-align: center;
    margin: 20px 0;
}

.grid1 {
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: #BEE1C8;
}
footer{
    background-color: #1D592E;
    margin: 0;
    text-align: center;
}
.cor{
    color: white;
    padding: 20px;
}

h2, h3 {
    color: #6E603A;
}
.botao{
    display: none;
    background-color: white;
}
.aaa:checked~.botao{
    display: block;
    position: absolute;
    top: 100%;
}

.aaa{
    display: none;
}